@tailwind base;
@tailwind components;
@tailwind utilities;



.pagination {
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    padding: 3px;

}
.pagination button {
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px;
    border-radius: 2px;
}

.pagination .selected {
    background-color: fuchsia;
    color: white;
}
/* #f28661 */

@keyframes slide {
    0%, 100% {
      transform: translateX(0);
      border-color: #ffffffa5; /* Initial and final color */
    }
    50% {
      transform: translateX(20px);
      border-color: #279c46; /* Midpoint color */
    }
  }
  
  .border-animate {
    border: 2px solid #78473764; /* Initial border style */
    animation: slide 2s infinite; /* Apply the animation */
  }
  